@use "./reset.scss";
@use "./themes/default.scss";
@use "./themes/dark.scss";
@use "./themes/constants.scss";
@use "./styles.scss";
@use "./uiKit.scss";

* {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: var(--extra-scroll-color) var(--primary-bg-color);
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--extra-scroll-thumb-color);
  }
}

html {
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  font-size: 8px;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .alert {
    margin-bottom: 10px;
  }
}
