.tag-panel-selected-houses {
  margin-left: 32px;
  max-height: 40px;

  &__tag-wrap {
    max-height: max-content;
    padding-block: 4px;
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    align-content: center;
    background: #e0e7ff;
    color: #4f46e5;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    gap: 6px;
    max-width: 100%;
    flex-wrap: nowrap;
  }

  &__btn-remove {
    background: none;
    border: none;
    color: #4f46e5;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 4px;

    &:hover {
      background: rgba(79, 70, 229, 0.1);
    }
  }

  &__btn-clear {
    background: none;
    border: none;
    font-size: 14px;
    // font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #666;
    text-decoration: underline;

    &:hover {
      color: var(--itpc-primary-text-color);
    }
  }

  &__icon-close {
    font-size: 13px;
  }

  &__more-btn {
    background: #f3f4f6;
    border: 1px solid #d1d5db;
    color: #4b5563;
    border-radius: 20px;
    padding: 6px 10px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;

    &:hover {
      background: #e5e7eb;
    }
  }

  &__dropdown {
    display: inline-flex;
    gap: 8px;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    max-width: 520px;
    max-height: 200px;
    overflow-y: auto;
    flex-wrap: wrap;
    padding: 16px;
  }

  &__dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    font-size: 13px;
    color: #1f2937;

    &:hover {
      background: #f9fafb;
    }
  }

  &__btn-remove--dropdown {
    background: none;
    border: none;
    color: #6b7280;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover {
      background: #f3f4f6;
      color: #1f2937;
    }
  }
}
