@use "../../../app/styles/index.scss";

.sub-nav {
  background: var(--color-bg-extra);
  padding: 8px 32px 8px 8px;
  display: inline-flex;
  align-items: center;

  .button-icon {
    background-color: none;

    &:hover:not(:disabled) {
      color: blue;
      background-color: none;
    }
  }

  &__breadcrumb {
    position: relative;
    font-size: 16px;
    font-weight: 600;
  }

  &__copy-link {
    position: absolute;
    top: -12px;
    right: -28px;
    font-size: 13px;
  }
}

.sub-nav-wrapper {
  display: inline-block;

  clip-path: polygon(0 0, 100% 0, calc(100% - 24px) 100%, 0% 100%);
  // border-top: 1px solid var(--box-shadow-color-second);
  box-shadow: 0 2px 6px #00000014;
}

.sub-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  height: 100%;
  align-items: center;
}

.sub-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  color: var(--small-text-color);
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  transition:
    background 0.2s ease,
    color 0.2s ease;
  height: 100%;

  &:hover {
    background: rgba(var(--button-color-primary-rgb), 0.2);
    color: var(--button-color-primary);
  }

  &_active {
    color: var(--primary-text-color);
    background: rgba(var(--button-color-primary-rgb), 0.15);
    font-weight: 600;
  }
}

.sub-nav__text {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  white-space: nowrap;
}

.sub-nav__editing-mode {
  display: flex;
  align-items: center;
  gap: 12px;
}

// .sub-nav__breadcrumb {
//   display: flex;
//   align-items: center;
//   gap: 8px;
//   font-size: 14px;
//   color: var(--small-text-color);
// }

.sub-nav__breadcrumb-separator {
  color: #94a3b8;
}

.sub-nav__breadcrumb-current {
  color: var(--small-text-color);
  font-weight: 500;
}
