@use "../../../../../app/styles/index.scss";
.table-header-cell {
  background-color: var(--table-sort-header-cell);
  cursor: default;

  &:hover {
    background-color: var(--itpc-table-hover-color-component);
    // cursor: pointer;
  }

  &__vertical-border {
    border-right: 1px solid var(--table-cell-border-color, #e0e0e0);

    &:last-child {
      border-right: none;
    }
  }

  &_clickable {
    cursor: pointer;
  }

  &_pointer-none {
    pointer-events: none;
  }

  &_background-active {
    background-color: var(--itpc-table-header-cell-active);
  }

  &__wrap-cell {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 8px;
  }

  &__icons {
    display: inline-flex;
    gap: 4px;
    align-items: center;
  }

  &__btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
  }

  &__btn-filter {
    &:hover {
      background-color: var(--itpc-table-hover-color-button);
    }

    &:hover .table-header-cell__filter-icon {
      color: var(--button-color-primary);
    }
  }

  &__filter-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 8px;
    background-color: transparent;
    color: var(--itpc-default-icon-color);
    transition: all ease-in-out 0.3s;

    &_active {
      color: var(--button-color-primary);
    }
  }

  &__content_left {
    justify-content: flex-start;
  }
  &__content_center {
    justify-content: center;
  }
  &__content_right {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}
