.itpc-multi-select {
  position: relative;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 40px;

  border: 1px solid var(--itpc-input-border-color);
  border-radius: 4px;
  background-color: var(--itpc-primary-bg-color);
  box-shadow: none;
}

.itpc-multi-select_disabled {
  color: var(--itpc-disabled-text-color);

  border-color: var(--itpc-disabled-input-border-color);
  /* background-color: var(--itpc-input-bg-disabled-color); */
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
}

.itpc-multi-select_hover:hover {
  border-color: var(--itpc-primary-hover-color-component);
}

.itpc-multi-select__button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 7px 10px;

  font-size: var(--itpc-font-size-xs);
  color: var(--itpc-primary-text-color);

  border: none;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.itpc-multi-select__button:hover {
  border-color: var(--itpc-primary-hover-color-component);
}

.itpc-multi-select__button_focused {
  border-color: var(--itpc-primary-border-color);
}

// styles.scss (для MultiSelectField)

.itpc-multi-select__input-wrapper {
  position: relative;
  flex: 1;
}

.itpc-multi-select__input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  border: none;

  &_focused {
    border-color: #007bff;
  }
}

.itpc-multi-select__selected-preview {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 12px;
  pointer-events: none;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itpc-multi-select__no-results {
  padding: 8px 12px;
  color: #999;
  font-style: italic;
}
