@use "../../../../app/styles/index.scss";

.menu-column {
  display: inline-block;
  position: relative;
  text-align: end;

  &__btn {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    width: auto;
    padding: 8px;
    min-width: auto;
    cursor: pointer;
    font-size: 16px;
  }

  &__icon {
    color: var(--color-icon-primary);
  }

  &__content {
    //   background: var(--color-bg-primary);
    //   border: 1px solid #ddd;
    //   border-radius: 6px;
    //   box-shadow: 0 4px 12px var(--color-box-shadow);
    //   padding: 12px;
    min-width: 200px;
    //   z-index: 1000;
  }
}

//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 0px 12px 8px 0px;
//     margin: 0 0px;
//     border-bottom: 1px solid #dfdfdf;
//     font-weight: 600;
//     font-size: 14px;
//     color: var(--color-text-secondary);
// }
