@use "../../../../app/styles/index.scss";

.menu-column {
  display: inline-flex;
  align-items: center;
  position: relative;
  text-align: end;

  // &__btn {
  //   display: inline-block;
  //   align-items: center;
  //   justify-content: center;
  //   background: none;
  //   border: none;
  //   cursor: pointer;
  //   width: auto;
  //   padding: 8px;
  //   min-width: auto;
  //   cursor: pointer;
  // }

  // &__icon {
  //   color: var(--color-icon-primary);
  // }

  &__content {
    min-width: 200px;
  }
}
