.selection-page {
  &__wrap {
    border-radius: 4px;
    padding: 16px;
    border: 1px solid #f0f0f0;
  }

  &__filters {
    padding: var(--space-m);
    max-width: 200px;
  }

  &__wrap-filters {
    margin-top: 26px;
  }

  &__btn-search {
    margin-top: 46px;
    max-height: 88px;
  }
}
