.table-sort {
  overflow: auto;
  width: 100%;

  color: var(--itpc-primary-text-color);
  text-align: left;

  border-spacing: 0;
  border-radius: 4px;
  table-layout: unset;
  border-collapse: collapse;

  .itpc-checkbox__fake_square {
    padding-left: 0 !important;
  }

  .table-number {
    // font-family: "Roboto Mono", "SF Mono", "Consolas", "Liberation Mono", monospace;
    font-family: tabular-nums;
    font-feature-settings: "tnum";
    font-size: inherit;
    font-family: "Inter", "Roboto", system-ui;
    // Или, если у вас есть системный табличный шрифт:
    // font-feature-settings: "tnum"; // tabular figures (если поддерживается)
  }

  .table-sort-row {
    border-bottom: 1px solid #e0e0e0;
  }

  &__striped {
    .table-sort-row {
      border-bottom: none;
    }
  }
}
