.table-sort {
  overflow: auto;
  width: 100%;

  color: var(--itpc-primary-text-color);
  text-align: left;

  border-spacing: 0;
  border-radius: 4px;
  table-layout: unset;
  border-collapse: collapse;

  .itpc-checkbox__fake_square {
    padding-left: 0 !important;
  }
}
