.table-stage {
  width: 100%;
  height: 672px;
  overflow-y: auto;

  border-radius: 4px;
  &__sort .itpc-table-sort__head {
    background: #e0e0e0;
  }
  & tr {
    border-bottom: 1px solid #e0e0e0;
  }

  &__icon {
    color: #cccccc;
    padding: 0 10px;
  }
}

.table .itpc-table-sort__head {
  overflow: visible !important;
  position: sticky;
  top: 0;
}
