.initial-table-container {
  display: flex;
  width: 100%;
  min-width: 0; // ← критично!
  overflow-x: auto; // ← горизонтальный скролл при нехватке ширины
  max-height: 100vh;
  overflow-y: hidden;

  &__table {
    flex: 1;
    min-width: 0; // ← позволяет сжиматься
    max-height: 772px;
    overflow-y: auto;
    // .table-body-cell {
    //   padding: 0;
    // }
  }
}
