@use "../../../../../app/styles/index.scss";
.table-sort-row {
  background-color: var(--itpc-primary-bg-color);
  cursor: default;

  &:hover {
    background-color: var(--itpc-table-hover-color-component);
  }

  &:hover {
    .table-body-cell_back {
      background-color: var(--itpc-table-hover-color-component) !important;
    }
  }

  &__selection-cell {
    width: 36px;
    padding: 0 8px;

    .itpc-checkbox__input + .itpc-checkbox__fake_square:before {
      background-color: white;
    }
  }

  &__selected {
    background-color: #f4f2ff;

    &:hover {
      background-color: #e4dfff;
    }
  }

  &__checkbox {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;

    &_visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &_small {
    height: 32px;
  }

  &_medium {
    height: 40px;
  }

  &_large {
    height: 48px;
  }

  &_xLarge {
    height: 56px;
  }
}

.itpc-table-sort__row_clickable {
  cursor: pointer;
}
