@use "../../../../../app/styles/index.scss";
.table-sort-row {
  background-color: var(--itpc-primary-bg-color);
  cursor: default;

  &:hover {
    background-color: var(--itpc-table-hover-color-component);
  }

  &__selection-cell {
    padding: 0 8px;
  }

  &__selected {
    background-color: var(--selected-row-table-color);
  }

  &_small {
    height: 32px;
  }

  &_medium {
    height: 40px;
  }

  &_large {
    height: 48px;
  }

  &_x-large {
    height: 56px;
  }
}

.itpc-table-sort__row_clickable {
  cursor: pointer;
}
