.app_dark_theme {
  // фон
  --primary-bg-color: #19192a;
  --hider-table-color: #252233;
  --extra-bg-color: #5c53ac;

  // Цвета состояния
  --error-color: #d42564;
  --success-color: #7add7a;
  --disabled-color: #8f8eb3;
  --warning-color: #ecc022;

  // Текст
  --primary-text-color: #b3b3b3;
  --secondary-text-color: #b2b7c7;
  --small-text-color: #cacaca;
  --button-text-color: #b9b9b9;
  --input-text-color: #dddddd;

  // Ховеры
  --primary-hover: #2c2e3e;
  --extra-hover: #343348;
  --primary-icon-hover: #6f65cb;
  --primary-border-hover: #6f65cb;

  // Тени
  --box-shadow-color: #373064;
  --box-shadow-color-second: #373064;

  // Иконки
  --primary-icon-color: #695dd5;
  --secondary-icon-color: #b9b9b9;
  --extra-icon-color: #9b9b9b;
  --success-icon-color: #7add7a;
  --cancel-icon-color: #d42564;
  --additional-icon-color: #8f8f8f;
  --icon-color-yellow: #ecc022;
  --icon-color-blue: #0d6efd;
  --icon-color-red: #d42564;
  --icon-color-gray: #cacaca;

  --link-color: #0d6efd;
  --line-color: #695dd5;

  // Скелетон
  --skeleton-start: #272739;
  --skeleton-fifty: #252233;
  --skeleton-end: #292945;

  // Бордеры
  --primary-border-color: #363738;
  --secondary-border-color: #363738;
  --extra-border-color: #393185;

  // Ui kit
  --primary-placeholder-text-color: #595959;
  --focused-placeholder-text-color: #9b9b9b;
  --input-border-color: #9b9b9b;
  --extra-bg-component: #343348;
  --modal-overlay-bg: #3a385385;
  --disabled-input-color: #33334c;

  // Скролл
  --primary-scroll-color: #19192a;
  --extra-scroll-color: #4c43a1;
  --extra-scroll-thumb-color: #979797;

  // Вкладки
  --primary-tab-color: #2c2e3e;
  --secondary-tab-color: #333546;
}

.itpc-theme-dark {
  /* фон */
  --itpc-primary-bg-color: #19192a;

  --itpc-primary-bg-color-text: #4b4b65;
  --itpc-primary-bg-color-overlay: #3a385385;

  --itpc-primary-bg-color-component: #5c53ac;
  --itpc-primary-bg-color-component-active: #695dd5;

  --itpc-secondary-bg-color-component: #c0c0c0;
  --itpc-primary-bg-selected-color: #2c2e3e;
  --itpc-extra-bg-color-component: #4b4b65;
  --itpc-disabled-bg-color-component: #454569;
  --itpc-danger-bg-color-component: #d42564;

  --itpc-extra-bg-color-checkbox: #dddddd;
  --itpc-secondary-bg-color-checkbox: #4c43a1;

  /* Ховер */
  --itpc-primary-hover-color-component: #6f65cb;
  --itpc-primary-hover-color-component-active: #5c53ac;
  --itpc-secondary-hover-color-component: #343348;
  --itpc-extra-hover-color-component: #343348;
  --itpc-table-hover-color-component: #2c2e3e;
  --itpc-danger-hover-color-component: #c9184a;
  --itpc-additional-hover-color-component: #2c2e3e;

  /* Бордеры */
  --itpc-primary-border-color: #695dd5;
  --itpc-secondary-border-color: #6f65cb;
  --itpc-extra-border-color: #dadada;
  --itpc-input-border-color: #9b9b9b;
  --itpc-disabled-input-border-color: #353535;
  --itpc-additional-border-color: #b3b3b3;

  --itpc-preloader-border-color: #a7a7a7;

  --itpc-danger-border-color: #d42564;
  --itpc-disabled-border-color: #8f8eb3;
  --itpc-warning-border-color: #ecc022;
  --itpc-success-border-color: #4db04d;

  /* Текст */
  --itpc-primary-text-color: #c0c0c0;
  --itpc-secondary-text-color: #8c8c8c;
  --itpc-success-text-color: #4db04d;
  --itpc-danger-text-color: #d42564;
  --itpc-warning-text-color: #ecc022;
  --itpc-disabled-text-color: #5d5d5d;

  --itpc-link-text-color: #0d6efd;
  --itpc-link-text-hover-color: #004dbf;
  --itpc-link-text-color-visited: #004dbf;

  --itpc-primary-text-color-component: #b9b9b9;
  --itpc-secondary-text-color-component: #695dd5;
  --itpc-extra-text-color-component: #19192a;

  /* Иконки */
  --itpc-primary-icon-color: #695dd5;
  --itpc-secondary-icon-color: #b9b9b9;
  --itpc-default-icon-color: #4e4e62;
  --itpc-success-icon-color: #7add7a;
  --itpc-yellow-icon-color: #ecc022;

  /* Тени */
  --itpc-box-shadow-color: #373064;
  --itpc-box-shadow-color-second: #373064;

  /* Прозрачность */
  --itpc-opacity-color: 0.3;
}
