.app_default_theme {
  // фон
  --primary-bg-color: #ffffff;
  --hider-table-color: #fafafa;
  --extra-bg-color: #5c53ac;

  // Цвета состояния
  --error-color: #d42564;
  --success-color: #7add7a;
  --disabled-color: #b2b7c7;
  --warning-color: #ecc022;

  // Текст
  --primary-text-color: #212529;
  --secondary-text-color: #b2b7c7;
  --small-text-color: #575757;
  --button-text-color: #ffffff;
  --input-text-color: #212529;

  // Ховеры
  --primary-hover: #f0f0f0;
  --extra-hover: #e7e7e7;
  --primary-icon-hover: #6f65cb;
  --primary-border-hover: #6f65cb;

  // Тени
  --box-shadow-color: #e5e5e5;
  --box-shadow-color-second: #d4d6e7;

  // Иконки
  --primary-icon-color: #393185;
  --secondary-icon-color: #ffffff;
  --extra-icon-color: #b2b7c7;
  --success-icon-color: #7add7a;
  --cancel-icon-color: #d42564;
  --additional-icon-color: #8f8f8f;
  --icon-color-yellow: #ecc022;
  --icon-color-blue: #0d6efd;
  --icon-color-red: #d42564;
  --icon-color-gray: #575757;

  --link-color: #0d6efd;
  --line-color: #393185;

  // Скелетон
  --skeleton-start: #eeeef4;
  --skeleton-fifty: #fafafa;
  --skeleton-end: #f0f0f0;

  // Бордеры
  --primary-border-color: #37374538;
  --secondary-border-color: #d4d6e7;
  --extra-border-color: #393185;

  // Ui kit
  --primary-placeholder-text-color: #b2b7c7;
  --focused-placeholder-text-color: #575757;
  --input-border-color: #b2b7c7;
  --extra-bg-component: #ffffff;
  --modal-overlay-bg: rgba(0, 0, 0, 0.2);
  --disabled-input-color: #eeeef4;

  // // Скролл
  // --primary-scroll-color: #ffffff;
  // --extra-scroll-color: #4c43a1;
  // --extra-scroll-thumb-color: #979797;

  // Вкладки
  --primary-tab-color: #f0f0f0;
  --secondary-tab-color: #e7e7e7;
}

:root {
  /* фон */
  --itpc-primary-bg-color: #ffffff;

  --itpc-primary-bg-color-text: #727272;
  --itpc-primary-bg-color-overlay: rgba(0, 0, 0, 0.2);

  --itpc-primary-bg-color-component: #5c53ac;
  --itpc-primary-bg-color-component-active: #5c53ac;

  --itpc-secondary-bg-color-component: #ffffff;
  --itpc-primary-bg-selected-color: #f0f0f0;
  --itpc-extra-bg-color-component: #c7ccdb;
  --itpc-disabled-bg-color-component: #b2b7c7;
  --itpc-danger-bg-color-component: #d42564;

  --itpc-extra-bg-color-checkbox: #dddddd;
  --itpc-secondary-bg-color-checkbox: #4c43a1;

  /* Ховер */
  --itpc-primary-hover-color-component: #6f65cb;
  --itpc-primary-hover-color-component-active: #5c53ac;
  --itpc-secondary-hover-color-component: #b2b7c7;
  --itpc-extra-hover-color-component: #e7e7e7;
  --itpc-table-hover-color-component: #e7e7e7;

  --itpc-danger-hover-color-component: #c9184a;
  --itpc-additional-hover-color-component: #f0f0f0;

  /* Бордеры */
  --itpc-primary-border-color: #5c53ac;
  --itpc-secondary-border-color: #6f65cb;
  --itpc-extra-border-color: #dadada;
  --itpc-input-border-color: #b2b7c7;
  --itpc-disabled-input-border-color: #c3c3c3;
  --itpc-additional-border-color: #212529;

  --itpc-preloader-border-color: rgba(0, 0, 0, 0.25);

  --itpc-danger-border-color: #d42564;
  --itpc-disabled-border-color: #b2b7c7;
  --itpc-warning-border-color: #ecc022;
  --itpc-success-border-color: #4db04d;

  /* Текст */
  --itpc-primary-text-color: #212529;
  --itpc-secondary-text-color: #8c8c8c;
  --itpc-success-text-color: #4db04d;
  --itpc-danger-text-color: #d42564;
  --itpc-warning-text-color: #ecc022;
  --itpc-disabled-text-color: #d1d1d1;

  --itpc-link-text-color: #0d6efd;
  --itpc-link-text-hover-color: #5599ff;
  --itpc-link-text-color-visited: #70aaff;

  --itpc-primary-text-color-component: #ffffff;
  --itpc-secondary-text-color-component: #5c53ac;
  --itpc-extra-text-color-component: #ffffff;

  /* Иконки */
  --itpc-primary-icon-color: #393185;
  --itpc-secondary-icon-color: #ffffff;
  --itpc-default-icon-color: #cccccc;
  --itpc-success-icon-color: #7add7a;
  --itpc-yellow-icon-color: #ecc022;

  /* Тени */
  --itpc-box-shadow-color: #e5e5e5;
  --itpc-box-shadow-color-second: #d4d6e7;

  /* Цвета */
  --itpc-white-color: #ffffff;

  /* Прозрачность */
  --itpc-opacity-color: 0.5;

  // Скролл
  --primary-scroll-color: #ffffff;
  --extra-scroll-color: #4c43a1;
  --extra-scroll-thumb-color: #979797;

  // Новые цвета
  --primary-bg-color: #ffffff;
  --primary-icon-color: #393185;
  --button-color-primary: #726bb5;
  --button-color-primary-rgb: 114, 107, 181;
  --selected-row-table-color: hsl(0, 0%, 96%);
  --table-sort-header-cell: hsl(0, 0%, 95%);
  --itpc-table-header-cell-active: hsl(0, 0%, 92%);
  --itpc-table-hover-color-component: hsl(0, 0%, 90%);
  --itpc-table-hover-color-button: hsl(0, 0%, 82%);
  --itpc-table-hover-color-button-close: hsl(0, 0%, 88%);
  --icon-color-gray: #575757;
  --icon-color-gray-l: #8f8f8f;
  --text-color: #6b7280;
}
