@import "../../../../../config/styles/global.scss";

.section {
  width: 100%;
  max-height: 100vh;

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: calc(100dvh - $height-header-profile-desktop);
    max-height: calc(100dvh - $height-header-profile-desktop);
  }
}

@media screen and (max-width: 800px) {
  .section {
    &__content {
      flex-direction: column;
      overflow-y: auto;
      box-sizing: border-box;
      min-height: calc(100dvh - $height-header-menu-800-428 * 2);
      max-height: calc(100dvh - $height-header-menu-800-428 * 2);
    }

    &__title {
      margin: 0;
      padding: 16px 30px 0;

      font-weight: 600;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 428px) {
  .section {
    &__title {
      margin: 0;
      padding: 16px 15px;

      font-weight: 600;
      font-size: 18px;
    }
  }
}
