@use "../../../../app/styles/index.scss";
.house-multi-select {
  width: 100%;

  &__input-wrap {
    max-width: 460px;
    width: 100%;
  }

  &__input {
  }

  &__btn-apply {
    max-height: 40px;
  }

  &__filter {
    display: inline-flex;
  }
}
