.action-cell {
  &__btn {
    background: none;
    border: none;
    cursor: pointer;
    &:hover .action-cell__icon {
      color: #aa1b1b;
    }

    &:active .action-cell__icon {
      color: #aa1b1b;
    }
  }

  &__icon {
    padding: 8px 4px;
  }
}
