.column-selector {
  margin-bottom: 16px;
  padding: 12px;
  background-color: #f9f9f9;
  border-radius: 6px;
  font-size: 14px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
}
