.row-density-menu {
  &__title {
    font-size: 13px;
    font-weight: 600;

    color: var(--color-text-small);
  }

  &__options {
    display: flex;
    gap: 4px;
  }

  &__option {
    background: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 0px 2px rgba(var(--color-border-accent-rgb), 0.36);
    height: 32px;

    &_active {
      background-color: rgba(var(--color-border-accent-rgb), 0.1);
      border-color: rgba(var(--color-border-accent-rgb), 0.46);
      color: rgba(var(--color-border-accent-rgb), 1);
      font-weight: 500;
    }
  }
}
