@use "../../../../app/styles/index.scss";
.multi-select-houses {
  width: 100%;

  &__input-wrap {
    max-width: 560px;
    width: 100%;
  }

  &__checkbox {
    .itpc-checkbox__label {
      margin-left: 8px;
      color: #6b7280;
      font-size: 15px;
    }

    &:hover {
      .itpc-checkbox__label {
        color: var(--itpc-primary-text-color);
      }
    }

    &_active {
      .itpc-checkbox__label {
        margin-left: 8px;
        color: var(--itpc-primary-text-color);
      }
    }
  }

  &__btn-apply {
    max-height: 40px;
    font-size: 20px;
    background: radial-gradient(circle, #7263c0 0%, #6a5abf 50%, #5c53ac 100%);
    box-shadow: 0 2px 6px rgba(92, 64, 255, 0.3);
    padding: 4px 12px;

    &:hover {
      background: radial-gradient(circle, #5f4db6 0%, #6553be 50%, #5c53ac 100%);
    }
  }

  &__btn-filters-icon {
    color: #fff;
  }
}
