@use "../../../../app/styles/index.scss";
.multi-select-houses {
  &__input {
    max-width: 360px;
    width: 100%;
  }

  .itpc-search-field {
    z-index: 10;
  }

  &__btn-apply {
    box-shadow: 0 2px 6px rgba(var(--extra-bg-rgb), 0.25);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    &:hover {
      background-color: var(--primary-icon-hover);
      box-shadow: 0 3px 8px rgba(var(--extra-bg-rgb), 0.35);
    }

    &:active {
      box-shadow: 0 1px 4px rgba(var(--extra-bg-rgb), 0.25);
    }
  }

  &__btn-filters-icon {
    color: var(--button-text-color);
  }
}
