@use "../../../../app/styles/index";

.top-nav {
  height: 100%; /* чтобы занять всю высоту header */
  width: 100%;
}

.top-nav__menu {
  display: inline-flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  width: 100%;
  // padding: 16px 24px 0;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.top-nav__item {
  list-style: none;
  width: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: background 0.2s ease;

  &:hover {
    background: rgba(var(--button-color-primary-rgb), 0.36);
  }

  &_active {
    background: rgba(var(--button-color-primary-rgb), 0.26);
    box-shadow: 0 0px 4px rgba(var(--button-color-primary-rgb), 0.26);

    &:hover {
      background: rgba(var(--button-color-primary-rgb), 0.26);
    }
  }
}

.top-nav__icon {
  color: #7d7d7d;

  &_active {
    color: var(--button-color-primary);
  }
}

.top-nav__text {
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: var(--small-text-color);
  margin: 0;
  text-align: center;
}

.top-nav__item_active .navbar__text {
  color: var(--primary-text-color);
}

.top-nav__dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(8px);
  background: var(--primary-bg-color);
  border: 1px solid var(--box-shadow-color-second);
  border-radius: 6px;
  padding: 6px;
  min-width: max-content;
  z-index: 1010;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  display: flex;
  gap: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  margin-top: -2px; /* чтобы перекрыть щель */
}

.top-nav__item_hovered .top-nav__dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(4px);
}

.top-nav__dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  border-radius: 4px;
  min-width: 72px;
  transition: background 0.2s ease;

  &:hover {
    background: rgba(var(--button-color-primary-rgb), 0.2);
    color: var(--button-color-primary);
  }
}

.top-nav__dropdown-text {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}
