@use "../../../../../app/styles/index.scss";

.table-body-cell {
  padding: 0 10px;

  font-weight: var(--itpc-font-weight-normal);

  border: none;
  border-radius: 0;
  cursor: default;

  &__clickable {
    padding: 0;
    position: relative;
    cursor: pointer;

    // &:hover {
    //   background: blue;
    // }

    &:hover {
      background: var(--itpc-primary-bg-color-overlay);
    }
  }

  &_active {
    background: var(--itpc-primary-bg-color-overlay);
  }

  &__align {
    &-left {
      text-align: left;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
  }

  &_back {
    background-color: var(--selected-row-table-color);
  }

  .table-body-cell_back:not(:hover) {
    background-color: var(--selected-row-table-color);
  }

  &__vertical-border {
    border-right: 1px solid var(--table-cell-border-color, #e0e0e0);

    &:last-child {
      border-right: none;
    }
  }
}
