.icon-sort-down {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  background-color: transparent;
  fill: var(--itpc-default-icon-color);

  transition: all ease-in-out 0.3s;

  &__sort_color {
    fill: var(--itpc-primary-icon-color);
  }
}
